
.border-1{
    border: 1px solid black
}

body {
    width: 100%;  
}

.cell {
    height: 30px;
    width: 30px;
    border: 1px solid rgba(33, 65, 81, 0.5);
    background-color: white;
    transition: transform ease .05s;
}

.cell:hover{
    transform: scale(1.2);
    background-color: rgb(229,112,126);
}

.wall{
    background-color: rgb(59,83,96);
}

.centered {
    width: 0px;
    length: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    z-index: 999999 !important;
  }